.heading {
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  display: flex;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}
.image {
  width: 100px;
}
.cardImg {
  width: 100%;
}
.restrurdentCard {
  width: 200px;
  height: 300px;
  border: 1.5px solid black;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  
}
.restrudentList {
  display: flex;
  flex-wrap: wrap;
}
.Shimmer {
  background-color: hsl(38, 25%, 94%);
  width: 200px;
  height: 300px;
  /* border: 1.5px solid black; */
  margin: 10px;
  padding: 10px;
}
.ShimmerImg {
  margin: auto;
  width: 200px;
  height: 126px;
  background-color: rgb(202, 185, 185);
}
.ShimmerRestrudent{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  height:16px;
  background-color: rgb(202, 185, 185);
  border-radius: 10%;
}
.ShimmerContainer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  
}
.cuisines{
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
}
.resName{
  font-size: 17px;
  font-weight: 550;
  word-break: break-word;
}
.res-cui{
  margin-top: 14px;
}
.icon-star{
  font-family: icomoon;
}
.rating{
  
  height: 20px;
  width: 43px;
  padding: 0 5px;
  font-weight: 400;
  background-color: #48c479;
  color: #fff;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  box-sizing: inherit;
  justify-content: space-evenly;
  align-items: baseline;
}
.other-info{
  display: flex;
  align-items: center;
  margin-top: 18px;
  font-size: 12px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #535665;
  font-weight: 300;
}